<h1 mat-dialog-title>Editar relacionamento</h1>
<h3 mat-dialog-subtitle>{{relacionamento.Nome}}</h3>
<div mat-dialog-content>

    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-label fxFlex="100%">Força Ligação</mat-label>
            <mat-slider fxFlex="100%" thumbLabel min=1 max=100 [(ngModel)]="relacionamento.Forca" aria-labelledby="forcaLigacao">
            </mat-slider>
            
        <mat-label fxFlex="100%">Tags</mat-label>
        <input fxFlex="100%" placeholder="Adicionar tags" [matChipInputFor]="chipListRelacionamenroEditar"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addTag($event)">
        <mat-chip-list fxFlex="100%" #chipListRelacionamenroEditar>

            <mat-chip *ngFor="let tag of relacionamento.LstTags" [selectable]="selectable" [removable]="removable"
                (removed)="removeTag(tag)">
                {{tag}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>

        </mat-chip-list>
    </div>
</div>

<div mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()" style="margin-right: 16px;">
        Cancelar
    </button>

    <button class="mat-raised-button mat-primary" (click)="save()">
        Gravar
    </button>
</div>