::ng-deep {

    .mat-dialog-content{
      overflow: visible;
    }

    .mat-slider-thumb-label {
      transform: rotate(45deg) !important;
      border-radius: 50% 50% 0 !important;
    }
    
    .mat-slider-thumb {
      transform: scale(0) !important;
    }
    
    .mat-slider-thumb-label-text {
      opacity: 1 !important;
    }
  
  }
