#tooltip {
    text-align: center;
    width: 300px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
    display: none;
    border-radius: 4px;
    padding: 20px;
    img {
        width: 180px;
        height: 180px;
        object-fit: cover;
    }
    &.active {
        display: block;
    }
}