<div toolTip id="tooltip" [ngClass]="{'active': playerDataExists}">
    <img *ngIf="avatar != null" src="{{avatar}}" alt="{{name}}">
    <h2>{{name}}</h2>
    <p>{{email}}</p>
    <p>Group: {{group}}</p>
</div>