<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="100%">
            <mat-form-field fxFlex="100%" class="example-full-width" appearance="fill">
                <mat-label>Jogador Email</mat-label>
                <input type="email" matInput [(ngModel)]="this.emailDe">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="lerSugestoes()">Ler</button>

        </div>
        <div fxFlex="25%" *ngFor="let sugestao of sugestoes">
            <mat-card class="card mat-elevation-z10">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                        <mat-icon *ngIf="!sugestao.avatar">account_circle</mat-icon>
                        <img *ngIf="sugestao.avatar" src="data:image/jpeg;base64,{{sugestao.avatar}}" />
                    </div>
                    <mat-card-title>{{sugestao.nome}}</mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayout="row wrap">
                    
                    <mat-label fxFlex="100%">Tags</mat-label>
                    <mat-chip-list fxFlex="100%" #chipList aria-label="Tags selection">
                        <mat-chip *ngFor="let tag of sugestao.tags">
                            {{tag}}
                        </mat-chip>
                    </mat-chip-list>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="escolherJogadorObjectivo(sugestao)">Escolher</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
    <mat-paginator #paginator>
    </mat-paginator>
</div>