<div class="content">
  <div fxLayout="column wrap" fxLayoutGap="16px grid">
    <mat-card class="card mat-elevation-z10" id="lig-container">
      <mat-card-header>
        <h2>Ligações pendentes</h2>
      </mat-card-header>
      <mat-card-content style="padding-left: 20px;">
        <div fxFlex="20" *ngFor="let ligacao of ligacoesPendentes" fxLayout="column wrap">
          <ng-container *ngIf="!ligacao.introducao">
            <mat-card class="card mat-elevation-z10">
              <mat-card-content fxLayout="row wrap">
                <div fxFlex="50%" fxFlex.lt-md="100%" fxLayout="row wrap">
                  <mat-label fxFlex="100%">{{ ligacao.emailJogadorObjectivo }}</mat-label>
                  <mat-label fxFlex="100%">Força Relação {{ ligacao.forcaLigacao }}</mat-label>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary" (click)="aceitarLigacao(ligacao)">Aceitar</button>
              </mat-card-actions>
            </mat-card>
          </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card class="card mat-elevation-z10" id="lig-container">
      <mat-card-header>
        <h2>Introduções pendentes</h2>
      </mat-card-header>
      <mat-card-content style="padding-left: 20px;">
        <div fxFlex="20" *ngFor="let ligacao of ligacoesPendentes" fxLayout="column wrap">
          <ng-container *ngIf="ligacao.introducao">
            <mat-card class="card mat-elevation-z10">
              <mat-card-content fxLayout="row wrap">
                <div fxFlex="50%" fxFlex.lt-md="100%" fxLayout="row wrap">
                  <mat-label fxFlex="100%">{{ ligacao.emailJogadorObjectivo }}</mat-label>
                  <mat-label fxFlex="100%">Força Relação {{ ligacao.forcaLigacao }}</mat-label>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary" (click)="aceitarLigacao(ligacao)">Aceitar</button>
              </mat-card-actions>
            </mat-card>
          </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
