<div id="Threejs" style="position: absolute; left:0px; top:0px">
    <canvas #rendererCanvas id="renderCanvas"></canvas>
</div>
<div id="mapCanvas" style="position: absolute; right:25px; bottom:25px; width:320px; height:240px;"></div>
<div id='parent'>
    <section class="help-section">
        <mat-label *ngIf="this.helpMenu.controls['help'].value">
        <div id='help-panel' ng-show="check == 'A'">
            <table class='help' id='help-table'>
                <tr>
                    <th colspan='2' style='font-size: 3.0vmin'>
                        Help
                    </th>
                </tr>
                <tr>
                    <th colspan='2' style='text-align: left'>Movement</th>
                </tr>
                <tr>
                    <td>Key W</td>
                    <td>Far</td>
                </tr>
                <tr>
                    <td>Key S</td>
                    <td>Approach</td>
                </tr>
                <tr>
                    <td>Key A</td>
                    <td>Rotate LEFT</td>
                </tr>
                <tr>
                    <td>Key D</td>
                    <td>Rotate RIGHT</td>
                </tr>
                <tr>
                    <th colspan='2' style='text-align: left'>Rotate</th>
                </tr>
                <tr>
                    <td>Key Up Arrow</td>
                    <td>Rotate Up</td>
                </tr>
                <tr>
                    <td>Key Down Arrow</td>
                    <td>Rotate Down</td>
                </tr>
                <tr>
                    <td>Key Left Arrow</td>
                    <td>Rotate Left</td>
                </tr>
                <tr>
                    <td>Key Right Arrow</td>
                    <td>Rotate Right</td>
                </tr>
            </table>
        </div></mat-label>
        </section>
</div>

<div id="checkBox">
    <section class="helpMenu" [formGroup]="helpMenu">
        <p>
            <mat-checkbox formControlName="multiple_views">Multiple views</mat-checkbox> &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-checkbox formControlName="user_interface">User interface</mat-checkbox> &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-checkbox formControlName="mini_map">Mini-map</mat-checkbox> &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-checkbox formControlName="help">Help</mat-checkbox> &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-checkbox formControlName="statistics">Statistics</mat-checkbox> &nbsp;&nbsp;&nbsp;&nbsp;
        </p>
    </section>
</div>
<app-tooltip></app-tooltip>