:host {
  display: block;
}

app-jogo {
  width: 100%;
  height: 100%;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #FFF!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-checkmark-path {
  stroke: #000 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #FFF;
  color: #000;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #fff;
}

#checkBox {
  z-index: 999;
  section {
      &.helpMenu {
          border: 1px solid #fff;
          padding: 20px;
          z-index: 999;
          position: absolute;
          top: 20px;
          color: #fff;
          p:last-child {
              margin-bottom: 0;
          }
      }
  }
}

#help-panel {
  position: absolute;
  left: -50.0vmin;
  top: 20vh;
  z-index: 1;
  width: 100.0vmin;
  font-family: Arial, sans-serif;
  font-size: 1.5vmin;
  color: white;
}

#parent {
  position: absolute;
  left: 50.0vw;
}

#views-panel {
  position: absolute;
  left: -50.0vmin;;
  top: 15.0vh;
  z-index: 1;
  width: 100.0vmin;
  font-family: Arial, sans-serif;
  font-size: 1.5vmin;
  color: white;
}


#help-panel {
  position: absolute;
  left: -60.0vmin;
  top: 20vh;
  z-index: 1;
  width: 100.0vmin;
  font-family: Arial, sans-serif;
  font-size: 1.5vmin;
  color: rgb(2, 2, 2);
}

table {
margin-left: auto;
margin-right: auto;
border: 1px solid black;
}

table.views {
background-color: #70707070;
text-align: right;
}

table.help {
width: 50vmin;
background-color: #70707050;
}

table.subwindows {
position: absolute;
background-color: #70707070;
text-align: right;
}

th,
td {
overflow: hidden;
border: 1px solid black;
}

a {
color: white;
}