<div class="signup">
  <mat-card [formGroup]="registarJogadorForm">
    <mat-progress-spinner *ngIf="isLoading"></mat-progress-spinner>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input type="string" name="nome" ngModel matInput placeholder="Nome" #nomeInput="ngModel" required>
        <mat-error *ngIf="nomeInput.invalid">Por favor introduza um nome valido.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required>
        <mat-error *ngIf="emailInput.invalid">Por favor introduza um email valido.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel"
          required>
        <mat-error *ngIf="passwordInput.invalid">Por favor introduza uma password valida.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="number" name="telefone" ngModel matInput placeholder="Telefone" #telefoneInput="ngModel">
        <mat-error *ngIf="telefoneInput.invalid">Por favor introduza um nr. de telefone valido.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="urlFacebook" name="urlFacebook" ngModel matInput placeholder="Facebook"
          #urlFacebookInput="ngModel">
        <mat-error *ngIf="urlFacebookInput.invalid">Por favor introduza um URL valido.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="urlLinkedIn" name="urlLinkedIn" ngModel matInput placeholder="LinkedIn"
          #urlLinkedInInput="ngModel">
        <mat-error *ngIf="urlLinkedInInput.invalid">Por favor introduza um URL valido.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Data de nascimento</mat-label>
        <input matInput [matDatepicker]="dataNascimentoInput" required>
        <mat-datepicker-toggle matSuffix [for]="dataNascimentoInput"></mat-datepicker-toggle>
        <mat-datepicker #dataNascimentoInput></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input type="humor" name="humor" ngModel matInput placeholder="Humor" #humorInput="ngModel">
        <mat-error *ngIf="humorInput.invalid">Introduza um humor valido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="string" name="nacionalidade" ngModel matInput placeholder="Nacionalidade"
          #nacionalidadeInput="ngModel">
        <mat-error *ngIf="nacionalidadeInput.invalid">Introduza uma nacionalidade valido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="string" name="cidadeResidencia" ngModel matInput placeholder="Cidade de residencia"
          #cidadeResidenciaInput="ngModel">
        <mat-error *ngIf="cidadeResidenciaInput.invalid">Introduza uma cidade de residencia valida</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="string" name="descricaoBreve" ngModel matInput placeholder="Descricao breve"
          #descricaoBreveInput="ngModel">
        <mat-error *ngIf="descricaoBreveInput.invalid">Introduza uma descricao breve valida</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="avatar" name="avatar" ngModel matInput placeholder="Avatar" #avatarInput="ngModel">
        <mat-error *ngIf="avatarInput.invalid">Introduza um avatar</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="tagList" name="tagList" ngModel matInput placeholder="Tag List" #tagListInput="ngModel" required>
        <mat-error *ngIf="tagListInput.invalid">Introduza uma lista de tags</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" *ngIf="!isLoading" (click)="save()">Registar</button>
    </form>
  </mat-card>
</div>

<!--<mat-chip-list>
  <input placeholder="Adicionar tags" [matChipInputFor]="chipListRegistarJogador"
         [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
         (matChipInputTokenEnd)="addTag($event)">
  <mat-chip-list #chipListRegistarJogador>
    <mat-chip *ngFor="let tag of jogador.taglist" [selectable]="selectable" [removable]="removable"
              (removed)="removeTag(tag)">
      {{tag}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <button mat-raised-button color="accent" *ngIf="!isLoading" (click)="save()">Registar</button>
</mat-chip-list>-->
